{% extends "base.html.twig" %}

{% block title %}Listing{% endblock title %}
    
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-end mt-5 mb-5">
            <h1><img src="medias/logo-dgma.png" alt="Logo DGMA" width="335" height="100"></h1>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <a href="listing.php"><span class="far fa-arrow-alt-circle-left"></span></a>
            <a href='deconnexion.php'><span class="fas fa-power-off"></span></a>
        </div>
        
        <div class="fiche-produit">
            <div class="bg-color"><h2 class="mt-3 mb-5 text-center">Fiche produit</h2></div>
            <table class="table">
               
                <tbody>
                  <tr>
                    <td class="text-right text-color">Nom :</td>
                    <td class="font-weight-bold">{{ nom }}</td>
                  </tr>  
                  <tr>
                    <td class="text-right text-color">Référence :</td>
                    <td class="font-weight-bold">{{ reference }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Catégorie :</td>
                    <td class="font-weight-bold">{{ categorie_id }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Prix :</td>
                    <td class="font-weight-bold">{{ prix }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Date d'achat :</td>
                    <td class="font-weight-bold">{{ date_achat }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Date fin de garantie :</td>
                    <td class="font-weight-bold">{{ fin_garantie }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Conseils pour entretien :</td>
                    <td class="font-weight-bold">{{ conseils_entretien }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Lieu d'achat :</td>
                    <td class="font-weight-bold">{{ vente }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Adresse :</td>
                    <td class="font-weight-bold">{{ adresse }} {{ ville }} {{ cp }}</td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">URL :</td>
                    <td class="font-weight-bold">{{ url }} </td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Ticket d'achat :</td>
                    <td><a href="{{ ticket }}" download="ticket_achat">{{ ticket }}</a></td>
                  </tr>
                  <tr>
                    <td class="text-right text-color">Manuel d'utilisation :</td>
                    <td><a href="{{ manuel_utilisation }}" download="manuel_utilisation">{{ manuel_utilisation }}</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock content %}