{% extends "base.html.twig" %}

{% block title %}Listing{% endblock title %}
    
{% block content %}
    <div class="container">
        
        <div class="container d-flex justify-content-center mt-5 mb-5">
            <h1><img src="medias/logo-dgma.png" alt="Logo DGMA" width="335" height="100"></h1>
        </div>
        <div id="m-queries-header">
            <div id="off-hidden" class="btn-header">
                <!-- Link off for version mobile-->
                <a href='deconnexion.php'><span id="btn-off-mobile" class="fas fa-power-off"></span></a>
            </div>
        </div>
        <div class='connexion-pseudo mb-4 ml-3'><br>Bienvenue<span class='pseudo'> {{ pseudo }} </span>, vous êtes connectés !</div>
        <div class="d-flex justify-content-between align-items-center">
            
            
            <h2 class="mb-4">Listing des achats de matériels</h2>
            
            <div>
                <a href="edit.php"><span class="fas fa-plus-circle"></span></a>
                <a href='deconnexion.php'><span id="btn-off" class="fas fa-power-off"></span></a>
            </div>
        </div>
        <!-- Listing of the dashboard -->
            <div class="table-responsive">
                <table class="table table-hover" data-toggle="table" data-search="true" data-pagination="true">
                    <thead class="thead-dark">
                        <tr> 
                            <th scope="col" ></th>
                            <th scope="col" data-sortable="true" >Reference</th>
                            <th scope="col" data-sortable="true" >Nom</th>
                            <th scope="col" data-sortable="true">Catégorie</th>
                            <th scope="col" data-sortable="true">Date d'achat</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>    
                    <tbody>
                    {% for p in resultat %}
                        <tr>
                            <td>
                                <a href="fiche-materiel.php?fiche-materiel=1&id={{ p.id }}"><span class="fas fa-search-plus"></span></a>
                            </td>
                            <td>
                                {{ p.reference }}
                            </td>
                            <td>
                                {{ p.marque }}
                            </td>
                            <td>
                                {{ p.categorie }}
                            </td>
                            <td>
                                {{ p.date_achat}}
                            </td>
                            <td><a href="edit.php?edit=1&id={{ p.id }}"><span class="far fa-edit"></span></a></td>
                            <td><a href="delete.php?id={{ p.id }}"><span class="fas fa-trash-alt"></span></a></td>
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- modal -->
            <div class="d-flex justify-content-center">
                <div id="modal" class="hidden">
                    <div id="modal_dialogue">
                        <p id="warning"><span class="fas fa-exclamation-triangle"></span>Attention</p>
                        <p id="modal_text">Etes-vous sûr de vouloir supprimer ?</p>    
                        <div id="modal_area_btn">
                            <button id="modal_btn_no">Cancel</button>
                            <button id="modal_btn_yes">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}